body {
  background-color: #8B0000;
  padding: 20px;
  margin: 10px;
  border: 3px #FFD700;
  color: white;
}

header {
  background: #FFD700;
  color: white;
  padding: 10px;
  text-align: center;
}

#author {
  background-color: #FFD700;
  border: 3px solid white;
  padding: 20px;
}

#facts {
  background-color: #FFD700; 
  border: 3px solid white;
  padding: 20px;
  color: white;
}

#sources {
  background-color: #FFD700;
  border: 3px solid white;
  padding: 20px;
  color: white;
}